<br>
<div class="container">
  <div class="row">

    <div class="col-lg-12 centralizar topo" >
      <div class="card">
        <div class="card-body">
          <h1>Cadastro de Carro</h1>
                  <br>
                  <mdb-form-control>
                    <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="carro.nome"/>
                    <label mdbLabel class="form-label" for="form1">Nome</label>
                  </mdb-form-control>
                  <br>

                  <div align="center">
                    @if(carro.marca == null) {
                      <button type="button" class="btn btn-primary" mdbRipple (click)="buscarmarcas()">Buscar Marca</button>

                    }@else{
                       <p class="text-primary alert-primary">Marca: {{carro.marca.nome}}</p>
                      <button type="button" class="btn btn-warning" mdbRipple (click)="buscarmarcas()">Trocar Marca</button>
                    }
                  </div>
                  <br>
                  <br>
                  <br>
                  <div align="center">
                      <button type="button" class="btn btn-primary" mdbRipple (click)="buscarAcessorio()">Buscar Acessório</button>
                      <br>
                      <table border="1" class="table table-striped">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Acessorio</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                        @for (acessorio of carro.acessorios; track $index) {
                          <tr >
                            <td>{{acessorio.id}}</td>
                            <td>{{acessorio.nome}}</td>
                            <td class="direita">
                                <button type="button" class="btn btn-danger" mdbRipple (click)="desvincularAcessorioCarro(acessorio)">Deletar</button>
                            </td>
                          </tr>
                        }
                        </tbody>
                      </table>
                  </div>
                  <br>
                  <button type="button" class="btn btn-primary" mdbRipple (click)="save()">Salvar</button>
                </div>
      </div>
    </div>

  </div>

</div>

<ng-template #modalMarcas>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Marcas</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modelRef.close()"
    ></button>
  </div>
  <div class="modal-body">

    <app-marcaslist [esconderBotoes]="true" (retorno)="retornoMarca($event)"></app-marcaslist>
  </div>

</ng-template>

<ng-template #modalAcessorio>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Acessorio</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modelRef.close()"
    ></button>
  </div>
  <div class="modal-body">

    <app-acessoriolist [esconderBotoes]="true" (retorno)="retornoAcessorio($event)"></app-acessoriolist>
  </div>

</ng-template>






